// 
// user.scss
// Use this to write your custom SCSS
//

.dropify-wrapper.user {
  position: relative;
  padding: 2.5rem 1rem;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border: 2px dashed #dfdfeb;
  border-radius: 1rem;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  /* background-color: transparent; */
  /*border-color: rgba(118, 109, 244, 0.35);*/
  background-color: #766df4 !important;
}