td.created_at small {
    border: 1px;
    /* border: 1px solid red; */
    max-width: 70px;
    display: block;
    line-height: 1.3;
    text-align: right;
}

.calificacion-content img {
    border: 1px solid red;
    max-height: 250px;
}