.height-100 { height: 100%; }
/* Texts and fonts */
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.lowercase {
    text-transform: lowercase;
}
.bold {
    font-weight: bold;
}
.bolder {
    font-weight: 900;
}
.fs-8 {
    font-size: 8px;
}
.fs-10 {
    font-size: 10px;
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-22 {
    font-size: 22px;
}
.fs-28 {
    font-size: 28px;
}
.fs-32 {
    font-size: 32px;
}
.fs-36 {
    font-size: 36px;
}
.fs-42 {
    font-size: 43px;
}
.fs-48 {
    font-size: 48px;
}
.fs-60 {
    font-size: 60px;
}
.fs-80 {
    font-size: 80px;
}
.text-yellow {
    color: #f2c500 !important;
}
.text-red {
    color: #ea694d !important;
}
.text-green {
    color: #57df62 !important;
}
.text-blue-lighter {
    color: #9db6f9;
} /*Similar Morado*/
.text-blue {
    color: #5598fb;
}
.text-blue-dark {
    color: #4463CD !important;
}
.text-blue-alt {
    color: #6b9cbb;
}
.text-aqua {
    color: #4cb2a4 !important;
}
.text-brown {
    color: #ba7872;
}
.text-muted-2 {
    color: rgb(189, 189, 189);
}
.text-gray-light {
    color: #F2F2F2;
}
.text-black-light {
    color: #222222;
}
.text-black-lighter {
    color: #525659;
} /*No del estilo original*/
.text-blue-light {
    color: #7c92dc;
} /*No del estilo original*/
.text-tachado {
    text-decoration:line-through;
}
.list-no-style {
    list-style: none;
}
input:focus,
textarea:focus {
    outline: none;
}

.text-help,
input::placeholder,
textarea::placeholder {
    color: #c0c0c0;
}
/* https://developer.mozilla.org/es/docs/Web/CSS/:invalid */
/*input:invalid{*/
    /*
input:required:invalid,
textarea:required:invalid,
select:required:invalid{
    border: 4px solid red;
}
*/
input.input-error {
    border: 2px solid red!important;
}
/* Background colors */
.bkg-white {
    background-color: #fff!important;
}
.bkg-yellow {
    background-color: #f2c500;
}
.bkg-red {
    background-color: #ea694d;
}
.bkg-blue-lighter {
    background-color: #9db6f9;
} /*Similar Morado*/
.bkg-blue {
    background-color: #5598fb;
}
.bkg-aqua {
    background-color: #4cb2a4;
}
.bkg-green {
    background-color: #38c172;
}
.bkg-gray-light {
    background-color: #F2F2F2;
}
.bkg-black-light {
    background-color: #222222;
}
.bkg-black-lighter {
    background-color: #525659;
} /*No del estilo original*/
.bkg-blue-light {
    background-color: #7c92dc;
} /*No del estilo original*/
/* https://www.w3schools.com/css/tryit.asp?filename=trycss3_background_multiple */ 
.background-sidebyside {
    background-repeat: no-repeat, no-repeat;
    background-size: 200px, 150px;
}
.background-bottom {
    background-position: left bottom, right bottom;
}
.background-colabora {
    background-image: url(../images/svg/Ilustracion_Izquierda.svg), url(../images/svg/Ilustracion_Derecha.svg);
}
/* Borders */
.bordered-bottom {
    border-bottom: solid;
}
.border-color-red {
    border-color: #ea694d
}
.border-2 {
    border-width: 2px;
}
/* Line issues */
.line-h-1 {
    line-height: 1;
}
.line-h-15 {
    line-height: 1.5;
}
.line-h-2 {
    line-height: 2;
}
/* Margins */
.no-margin {
    margin: 0!important;
}
.no-margin-bt {
    margin-bottom: 0;
}
.no-margin-tp {
    margin-top: 0;
}
.no-margin-left {
    margin-left: 0;
}
.no-margin-right {
    margin-right: 0;
}
.margin-top-1-half {
    margin-top: 18px;
}
.margin-top-1 {
    margin-top: 36px;
}
.margin-top-2 {
    margin-top: 48px;
}
.margin-top-3 {
    margin-top: 72px;
}
.margin-bottom-1-half {
    margin-bottom: 18px;
}
.margin-bottom-1 {
    margin-bottom: 36px;
}
.margin-bottom-2 {
    margin-bottom: 48px;
}
.margin-bottom-3 {
    margin-bottom: 72px;
}
/* Width */
.width-20-em {
    min-width: 20em;
    max-width: 20em;
}
.max-width-80 {
    max-width: 80px;
}
.max-width-160 {
    max-width: 160px;
}

/* Paddings */
.no-padding {
    padding: 0;
}
.padding-18 {
    padding: 18px;
}
.padding-tb-18 {
    padding-top: 18px;
    padding-bottom: 18px;
}
.padding-tb-36 {
    padding-top: 36px;
    padding-bottom: 36px;
}
.padding-tb-72 {
    padding-top: 72px;
    padding-bottom: 72px;
}
.padding-top-1 {
    padding-top: 36px;
}
.padding-top-2 {
    padding-top: 48px;
}
.padding-top-3 {
    padding-top: 72px;
}
.padding-bottom-1 {
    padding-bottom: 36px;
}
.padding-bottom-2 {
    padding-bottom: 48px;
}
.padding-bottom-3 {
    padding-bottom: 72px;
}
/* Navigation */
#header{
    padding-top: 0;
}
#secondary-nav{
    margin-bottom: 15px;
    font-size: 14px;
    background: #3a3a3a;
    font-family: "Poppins", sans-serif;
}
#secondary-nav a{
    color: white;
}
#secondary-nav a:hover{
    color: #5fcf80;
}

/* Common pages */
.breadcrumbs {
    margin-top: 125px;
}

/* Home */
#hero {
    background: url(../images/home/main-banner.jpg) center right;
    background-size: cover;
}